<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
이 파일을 sql쿼리 문들을 모아둔 파일이다.
이곳에서 태그는 정해진 태그만 사용할 수 있다.
mybatis-3-mapper.dtd 에 태그가 정의 되어있다.


 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.repository.BoardMapper">
<!--  board table 모든 게시물을 가져오는 SQL 
	  <select id ="메소드 이름"> 메소드이름을 맞춰줘야된다.
	  쿼리를 테그로 묶어서 dao 메소드랑 연결시켜야된다.
	  
	  dao가  이 boarMapper.xml 파일을 어떻게 연결할건가?
	  -namespace= "org.mybatis.example.BlogMapper">
	  -namespace는 레파짓토리에 있는 어떤 dao파일과 연결될지 표시한다.
	   
-->

<select id="getList" resultType="kr.smhrd.entity.Board" >
	select * from board  order by idx desc;
</select>

</mapper>